<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
              http://www.springframework.org/schema/beans/spring-beans.xsd">

       <bean id="bannerLoader" class="pl.dmichalski.c02_09_external_resources.shop.BannerLoader"
             init-method="showBanner">
              <property name="banner" value="classpath:c02_09/banner.txt"/>
       </bean>

</beans>