<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="baseSequenceGenerator" class="pl.dmichalski.c01_04_inheritence_list.sequence.SequenceGenerator">
        <property name="prefixGenerator" ref="prefixGenerator"/>
        <property name="initial" value="100000"/>
        <property name="suffixes">
            <list>
                <value>A</value>
                <value>B</value>
            </list>
        </property>
    </bean>

    <bean id="sequenceGenerator" parent="baseSequenceGenerator">
        <property name="suffixes">
            <list merge="true">
                <value>A</value>
                <value>C</value>
            </list>
        </property>
    </bean>

    <bean id="prefixGenerator" class="pl.dmichalski.c01_04_inheritence_list.sequence.PrefixGenerator"/>

</beans>