<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
              http://www.springframework.org/schema/beans/spring-beans.xsd
              http://www.springframework.org/schema/util
              http://www.springframework.org/schema/util/spring-util.xsd">

       <util:constant id="aaa"
              static-field="pl.dmichalski.c02_03_static_fields.shop.Product.AAA"/>

       <util:constant id="cdrw"
              static-field="pl.dmichalski.c02_03_static_fields.shop.Product.CDRW"/>

</beans>