<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
               http://www.springframework.org/schema/beans/spring-beans.xsd
               http://www.springframework.org/schema/context
               http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <bean id="sequenceGenerator" class="pl.dmichalski.c01_14_qualifier.sequence.SequenceGenerator">
        <property name="suffixes">
            <list>
                <value>A</value>
                <bean class="java.net.URL">
                    <constructor-arg value="http"/>
                    <constructor-arg value="www.apress.com"/>
                    <constructor-arg value="/"/>
                </bean>
            </list>
        </property>
        <property name="initial" value="100000"/>
    </bean>

    <bean id="datePrefixGenerator" class="pl.dmichalski.c01_14_qualifier.sequence.DatePrefixGenerator">
        <property name="pattern" value="yyyyMMdd"/>
    </bean>

    <bean id="yearPrefixGenerator" class="pl.dmichalski.c01_14_qualifier.sequence.DatePrefixGenerator">
        <property name="pattern" value="yyyy"/>
    </bean>

</beans>