<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="baseSequenceGenerator" class="pl.dmichalski.c01_05_inheritence_map.sequence.SequenceGenerator">
        <property name="prefixGenerator" ref="prefixGenerator"/>
        <property name="initial" value="100000"/>
        <property name="suffixes">
            <map>
                <entry key="type" value="A"/>
                <entry key="url">
                  <bean class="java.net.URL">
                      <constructor-arg value="http"/>
                      <constructor-arg value="www.apress.com"/>
                      <constructor-arg value="/"/>
                  </bean>
                </entry>
            </map>
        </property>
    </bean>

    <bean id="sequenceGenerator" parent="baseSequenceGenerator">
        <property name="suffixes">
            <map merge="true">
                <entry key="type" value="A"/>
                <entry key="url">
                    <bean class="java.net.URL">
                        <constructor-arg value="http"/>
                        <constructor-arg value="www.apress.com"/>
                        <constructor-arg value="/"/>
                    </bean>
                </entry>
            </map>
        </property>
    </bean>

    <bean id="prefixGenerator" class="pl.dmichalski.c01_05_inheritence_map.sequence.PrefixGenerator"/>

</beans>