<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
              http://www.springframework.org/schema/beans/spring-beans.xsd">

       <bean class="pl.dmichalski.c02_10_beans_postprocessors.shop.PathCheckBeanPostProcessor"/>

       <bean id="cashier" class="pl.dmichalski.c02_10_beans_postprocessors.shop.Cashier">
              <property name="path" value="cashier"/>
       </bean>

</beans>