<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
              http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="aaa" class="pl.dmichalski.c02_06_beans_scope.shop.Battery">
        <property name="name" value="AAA"/>
        <property name="price" value="2.5"/>
    </bean>

    <bean id="cdrw" class="pl.dmichalski.c02_06_beans_scope.shop.Disc">
        <property name="name" value="CD-RW"/>
        <property name="price" value="1.5"/>
    </bean>

    <bean id="dvdrw" class="pl.dmichalski.c02_06_beans_scope.shop.Disc">
        <property name="name" value="DVD-RW"/>
        <property name="price" value="3.0"/>
    </bean>

    <bean id="shopingCart" class="pl.dmichalski.c02_06_beans_scope.shop.ShoppingCart" scope="prototype"/>

</beans>