<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
              http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="aaa" class="pl.dmichalski.c01_10_factoryBean.factory.DiscountFactoryBean">
        <property name="product">
            <bean class="pl.dmichalski.c01_10_factoryBean.product.Battery">
                <constructor-arg value="AAA"/>
                <constructor-arg value="2.5"/>
            </bean>
        </property>
        <property name="discount" value="0.2"/>
    </bean>

    <bean id="cdrw" class="pl.dmichalski.c01_10_factoryBean.factory.DiscountFactoryBean">
        <property name="product">
            <bean class="pl.dmichalski.c01_10_factoryBean.product.Disc">
                <constructor-arg value="CD-RW"/>
                <constructor-arg value="1.5"/>
            </bean>
        </property>
        <property name="discount" value="0.1"/>
    </bean>

</beans>