<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/util
           http://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="sequenceGenerator1" class="pl.dmichalski.c01_03_properties.sequence.SequenceGenerator">
        <property name="prefix" value="30"/>
        <property name="suffixes">
            <props>
                <prop key="type">A</prop>
                <prop key="url">http://www.apress.com/</prop>
                <prop key="null">null</prop>
            </props>
        </property>
        <property name="initial" value="100000"/>
    </bean>

    <bean id="sequenceGenerator2" class="pl.dmichalski.c01_03_properties.sequence.SequenceGenerator">
        <constructor-arg value="30"/>
        <constructor-arg>
            <props>
                <prop key="type">A</prop>
                <prop key="url">http://www.apress.com/</prop>
                <prop key="null">null</prop>
            </props>
        </constructor-arg>
        <constructor-arg value="100000"/>
    </bean>

    <bean id="sequenceGenerator3" class="pl.dmichalski.c01_03_properties.sequence.SequenceGenerator"
          p:prefix="30"
          p:suffixes-ref="props"
          p:initial="100000"/>

    <util:properties id="props">
        <prop key="type">A</prop>
        <prop key="url">http://www.apress.com/</prop>
        <prop key="null">null</prop>
    </util:properties>

</beans>