<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
              http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dateFormat" class="java.text.SimpleDateFormat">
        <constructor-arg value="yyyy-MM-dd"/>
    </bean>

    <bean id="productRanking" class="pl.dmichalski.c02_14_properties_editor.shop.ProductRanking">
        <property name="bestSeller">
            <bean class="pl.dmichalski.c02_14_properties_editor.shop.Disc">
                <property name="name" value="CD-RW"/>
                <property name="price" value="1.5"/>
            </bean>
        </property>
        <property name="fromDate">
            <bean factory-bean="dateFormat" factory-method="parse">
                <constructor-arg value="2007-09-01"/>
            </bean>
        </property>
        <property name="toDate">
            <bean factory-bean="dateFormat" factory-method="parse">
                <constructor-arg value="2007-09-30"/>
            </bean>
        </property>
    </bean>

</beans>