<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
               http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor">
        <property name="requiredAnnotationType"
                  value="pl.dmichalski.c01_12_our_required_annotation.sequence.Mandatory"/>
    </bean>

    <bean id="sequenceGenerator" class="pl.dmichalski.c01_12_our_required_annotation.sequence.SequenceGenerator">
        <property name="prefix" value="30"/>
        <property name="suffixes">
            <list>
                <value>A</value>
                <bean class="java.net.URL">
                    <constructor-arg value="http"/>
                    <constructor-arg value="www.apress.com"/>
                    <constructor-arg value="/"/>
                </bean>
            </list>
        </property>
        <property name="initial" value="100000"/>
    </bean>
</beans>