<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
              http://www.springframework.org/schema/beans/spring-beans.xsd
              http://www.springframework.org/schema/context
              http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <bean id="spELExample" class="pl.dmichalski.c02_05_spring_expression_language.spel.SpELExample" scope=""/>

    <bean id="emailUtilities" class="pl.dmichalski.c02_05_spring_expression_language.spel.EmailUtilities">
        <property name="randomNumber" value="#{T(java.lang.Math).random() * 100.0}"/>
        <property name="email" value="email@example.edu"/>
        <property name="password" value="pass"/>
        <property name="host" value="edu.ak"/>
    </bean>
</beans>